<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6t2_CsJRu-uVDc6aaKrMiN-hPrIsenQM</string>
	<key>GCM_SENDER_ID</key>
	<string>975128109140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mydeally</string>
	<key>PROJECT_ID</key>
	<string>my-dealyy-c75d2</string>
	<key>STORAGE_BUCKET</key>
	<string>my-dealyy-c75d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975128109140:ios:48aac93756e207d25b8dc1</string>
</dict>
</plist>